* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.main {
    width: 100vw;
    height: 100vh;
    background: url(bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.wrapper {
    height: 90vh;
    width: 90vw;
    position: relative;
    border-radius: 23px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    
}

h1 {
    text-align: center;
    padding: 23px;
}

.buttonSection {
    height: calc(90vh - 73px);
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    margin: 4px;
    padding: 9px 25px;
    border-radius: 9px;
    background: rgba(40, 213, 60, 0.447);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.761);
    font-size: 1.1rem;
    transition: ease-out .15s;
    cursor: pointer;
}

.congrates{
    background: url(heart-493_512.gif) repeat;
    background-size: contain;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
}
.congrates h1{
    background: rgba(255, 255, 255, 0.447);
    box-shadow: 0 8px 32px 0 rgba(191, 192, 206, 0.684);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(157, 71, 71, 0.761)
}


