* {
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/* scrollbar */
::-webkit-scrollbar {
    width: 1rem;
    background: linear-gradient(#FCFFB2, tomato);
    border-radius: 23px;

}

::-webkit-scrollbar-track {
    border-radius: 23px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#FCFFB2, tomato);
    border-radius: 23px;
}

/* preloader */
#preloader {
    background: #000000 url("asset/preloader1.gif") no-repeat center center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    transition: 1s ease;
}

.topNav {
    position: fixed;
}

.navbar {
    background: rgba(217, 193, 248, 0.425);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(153, 89, 236, 0.18);
    width: 100vw;
    height: 3rem;
    position: fixed;
    border-bottom: 1px double black;
    border-end-end-radius: 12px;
    margin-left: -1.7rem;
}

.navbar .navbar-brand {
    font-family: 'Playfair', serif;
    font-family: 'Sora', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: -2px;
    color: #ffffffbe;

}

.navbar .navbar-brand::after {
    content: "";
    width: 0;
    height: 5px;
    background-color: rgb(0, 0, 0);
    display: block;
    margin: auto;
    border-bottom: 3px solid #B6EAFA;
    border-end-end-radius: 50px;
}

.navbar .navbar-brand:hover::after {
    width: 100%;
    transition: 300ms;
}

.navbar .navbar-brand:hover {
    color: #ffffff;
}

.navbar-toggler {
    background: rgba(119, 204, 176, 0.301);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar-nav {
    background-color: transparent;
}

.nav-item {
    color: #FCFFB2;
    font-weight: 600;
    margin-left: 1.2rem;
    z-index: 1;
    position: relative;
    font-size: 1rem;
}

.nav-item::after {
    content: "";
    width: 0;
    height: 5px;
    background-color: black;
    display: block;
    margin: auto;
    border-bottom: 3px solid #B6EAFA;
    border-end-end-radius: 50px;
}

.nav-item:hover::after {
    width: 100%;
    transition: 300ms;
}

/* hero section */
.heroSection {
    min-width: 100%;
    min-height: 40rem;
    background-image: url('asset/particle.gif');
    background-repeat: repeat;
    object-fit: cover;
}

.heroContent {
    position: absolute;
    top: 15rem;
    left: 5rem;
}

.heroImg {
    width: 31.5rem;
    object-fit: cover;
    display: block;
    position: absolute;
    right: 0;
    transition: 300ms ease-in;
}

.heroImg img {
    border-radius: 50% !important;
    filter: grayscale(100%);
    transition: .3s ease;
}

.heroImg Img:hover {
    filter: contrast(1.5);
    transition: 1s;
}

.headerTitle {
    color: #FCFFB2;
    font-size: .9rem;
    font-weight: 600;
}

.headerTitle span {
    color: #FCFFB2;
    font-weight: 900;
    font-size: 1.1rem;
}

.headerContent {
    font-size: 3rem;
    font-weight: 700;
    color: #FF55BB;
    font-weight: 900;
}

.headerContent:hover {
    letter-spacing: 2px;
    transition: .2s;
    font-family: 'Times New Roman', Times, serif;
}

.headerContent span {
    background-image: linear-gradient(90deg, rgb(131, 2, 236), rgba(86, 53, 116, 0.952));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 3.2rem;
}

.heroContent img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: absolute;
    top: 22rem;
    left: 20rem;
    margin: auto;
}

.heroContent img:hover {
    transform: scale(1.2);
    transition: 300ms ease;
}

.marquee {
    margin-top: auto;
    background-color: black;
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden;
    scrollbar-width: 0;
    padding-bottom: 5rem;

}

.marquee:hover {
    box-shadow: 0px 0px 5px white;
    transition: .3s linear;
}

.marquee pre {
    color: white;
    margin: auto;
    font-size: 2rem;
    position: absolute;
    top: 0;
    transform: rotate(-2deg);
    user-select: none;
}

#services {
    background-color: black;
}

.sectionButton {
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    padding: 0px;
    margin-left: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    font-size: .8rem;
    font-family: 'Neuton', serif;
}

.sectionButton:hover {
    background-color: #FCFFB2;
    color: black;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px white;
}

.sectionTitle {
    color: white;
    font-size: 2.5rem;
    margin-left: 2rem;
    font-family: 'Neuton', serif;
}

#services .card {
    margin: 2rem auto;
    background-color: #000033;
    color: white;
    border: 1px solid white;
    border-top-left-radius: 45px;
    box-shadow: -5px -3px 5px #FCFFB2;
}

#services .card:hover {
    box-shadow: 5px 3px 5px #FCFFB2;
    border-end-end-radius: 45px;
    border-top-left-radius: 0px;
    transition: .2s ease-in-out;
    -webkit-text-stroke: 1px #FCFFB2;
    letter-spacing: 2px;
}

#services .card img {
    margin: 3rem 3rem;
    width: 50%;
}

.card-text {
    font-size: .7rem;
}

.exPage {
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    height: 50rem;
    padding-top: 5rem;
}

.vector1 {
    position: absolute;
    top: 5rem;
    left: 10rem;

}

.vector1:hover {
    transform: rotate(520deg) scale(3) !important;
    left: 15rem;
    transition: 3s;
}

.vector1:hover .max-text::after {
    color: black;
}

.exPage .coverPhoto {
    width: 500px;
    position: absolute;
    right: 0;
    border-radius: 50%;
}

.exPage .coverPhoto:hover {
    filter: blur(2px);
    transition: .3s ease;
}

.exPage .max-text {
    font-size: 75px;
    position: relative;
}

.exPage .max-text:after {
    content: attr(data-text);
    position: absolute;
    top: 25rem;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.849);
    font-weight: 500;
    font-family: 'Rubik Mono One', ;
    z-index: 1;
}

.rightText {
    position: relative;
    margin: 10rem auto;
    padding: 2rem;


}

.content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
    color: #ddd;
    margin: 0;

}

/* portfolio */
#portfolio {
    width: 100%;
    height: 100rem;
    background-color: black;
    position: relative;
    padding-bottom: 5rem;
}

#portfolio .old iframe {
    width: 70%;
    height: 170%;
    display: block;
    margin: auto;
    left: 50%;
    transition: .3s;
}

#portfolio .old img:hover {
    opacity: .7;
}

#portfolio .old span {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.637);
    padding: 15px;
}

#portfolio .old span:hover {
    color: transparent;
    -webkit-text-stroke: 1px white;
    letter-spacing: 2px;
    transition: .2s;
}

#portfolio .col-6 {
    padding: 3rem;
}

#portfolio .col-6 img {
    width: 100%;
    object-fit: cover;
}

#portfolio .col-6 img:hover {
    opacity: .7;
    transition: .3s;
}

#portfolio .col-6 a {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.637);
    padding: 15px;
}

#portfolio .col-6 a:hover {
    color: transparent;
    -webkit-text-stroke: 1px white;
    letter-spacing: 2px;
    transition: .2s;
}

#portfolio .col-4 img {
    width: 90%;
    object-fit: cover;
}

#portfolio .col-4 img:hover {
    opacity: .7;
    transition: .3s;
}

#portfolio .col-4 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.637);
    padding: 15px;
    font-size: 1.3rem;
}

#portfolio .col-4 a:hover {
    color: transparent;
    -webkit-text-stroke: 1px white;
    letter-spacing: 2px;
    transition: .2s;
}

#experience {
    width: 100%;
    background-color: black;
    padding-top: 30rem;
}

#experience .langLogo img {
    width: 220px;
    height: 220px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px, 50px;
    filter: grayscale(100%);
    margin: 1rem auto;

}

.langLogo span {
    color: rgba(255, 255, 255, 0.637);
    margin: 1rem;

}

.langLogo span:hover {
    color: white;

}

#experience .langLogo img:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 10 px white;
    opacity: 0.9;
    transition: .3s;
    filter: grayscale(0%);
}

#contact {
    width: 100%;
    background-color: black;
    padding-top: 50px;
    color: white;
}

.contactContent {
    margin-left: 2rem;

}

.bold {
    font-size: 3rem;
    font-weight: 500;
    margin-left: 2rem;
}

.btn {
    color: white;
    border-radius: 10px;
    border: 1px solid white;
}

.form input {
    color: white;
    border-bottom: 1px solid white;
    background-color: transparent !important;
    font-family: 'Times New Roman', Times, serif;

}

form input:focus {
    background-color: rgb(14, 4, 104) !important;
    color: white !important;
    border: 0 1px 0 0 solid white !important;
    font-family: 'Times New Roman', Times, serif;
}

form textarea:focus {
    background-color: rgb(14, 4, 104) !important;
    color: white !important;
    font-family: 'Times New Roman', Times, serif;
}

/* social icons */
.socialLottie {
    display: flex;
    height: 300px;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.socialLottie a {
    margin: auto;
}

footer {
    padding-left: 2.5rem;
    background-color: black;
    color: white;
}

@media (max-width: 1125px) {
    .heroSection {
        min-height: 50rem;
    }
}

@media only screen and (max-width: 532px) {
    .socialLottie {
        height: 500px;
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 577px) {

    /* navbar */
    .navbar-nav a {
        color: white !important;
    }

    .navbar-toggler {
        position: absolute;
        right: -10px !important;
        border: none !important;
    }

    .navbar-toggler:focus {
        border: 3px solid black !important;
        color: black !important;
    }

    /* Hero Section */
    .headerTitle {
        font-size: 15px;
    }

    .headerTitle span {
        z-index: 2;
    }

    .headerContent {
        font-size: 30px !important;
    }

    .headerContent span {
        font-size: 35px !important;
    }

    .heroImg {
        max-width: 60%;
        left: 20%;
        z-index: 1;
    }

    .heroContent {
        top: 20rem !important;
        left: .6rem !important;
    }

    .heroContent img {
        left: 40% !important;
    }

    /* Creative design */
    .vector1 {
        transform: rotate(520deg);
        left: -5rem !important;
        top: 2rem !important;
        width: 400px;
    }

    #portfolio {
        padding-top: 3rem;
    }

    #portfolio a {
        font-size: .32rem !important;
        color: white !important;
    }

    #portfolio .old span {
        font-size: .32rem;
    }

    #experience .langLogo img {
        filter: none !important;
        width: 150px !important;
        height: 150px !important;
    }

    .langLogo {
        display: flex !important;
        flex-wrap: wrap !important;
        width: 100vw;
    }

    .bold {
        font-size: 20px !important;
        margin-bottom: 20px;
    }

    .sectionTitle {
        font-size: 2rem !important;
    }

    .contactContent {
        font-size: 0.8rem !important;
        text-align: center !important;
    }

    #contact form {
        padding-bottom: 1rem !important;
    }

    footer {
        padding-top: 2rem !important;
    }
}

@media (max-width: 768px) {
    .form-group {
        margin-bottom: 1rem;
    }
}