*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgba(18, 18, 170, 0.884) ,rgb(0, 0, 0));
    overflow: hidden;
    position: relative;
}
.lockScreen{
    height: 100vh !important;
    width: 100vw;
    background-image: url(assets/lockScreenWallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 111;
    transition:all .2s ease-in-out;
    /* display: none; I have to remove this for displaying lock screeen ; */
}
.lockClock{
    transition:all .2s ease-in-out;
    width: 100vw !important;
    height: 100vh !important;
    font-size: 4rem;
    color: white;
    text-align: center;
    top: 20%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.lockClock .dates{
    font-size: 2rem;
}
/* go to sign in */
.signInToWindows{
    display: block;
    width: 100vw;
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 101;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    top: 150%;
    left: 50%;
    transform: translate(-50% ,-50%);
    transition:top .2s linear .1s!important;

}
.signInToWindows img{
    transition:all .2s ease-in-out .2s !important ;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    border: 2px solid white;
    
}
.signInToWindows button{
    padding: .7em 1.3em;
    outline:none;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.404);
    cursor: pointer;
    margin-top: 1em;
    font-size: .7em;
    font-weight: 400;
    color: whitesmoke;
}
/* remove lock Screen on click */
.removeLockScreen{
    transition: all .2s linear !important;
    top: -100vh;
    position: relative;
    opacity: 0;
}
/* ----------------------------------------- */
/* home screen */
.homeScreen{
    height: 100vh !important;
    width: 100vw !important;
    position: relative;
    overflow: hidden !important;
    display: block;
    cursor: pointer;
    /* display: none; */
}
.homeScreen .wallpaper{
    height: 100vh;
    width: 100vw;
}
.homeScreen .wallpaper img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.taskbar{
    height: 3rem;
    width: 100vw;
    background-color: #181b39be;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    

}
.taskbar .icon {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    margin: .2rem;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.taskbar .icon img{
    height: 1.9rem;
    width: 1.9rem;
    padding: 2px;
    border-radius: 6px;
    object-fit: cover;
}

.rightSideTaskbar{
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    margin-right: 3rem;
}
.rightSideTaskbar img{
    height: 1.4rem;
    width: 1.4rem;
    padding: 3px;
    border-radius: 6px;
    object-fit: cover;
}
.clockIntaskbar{
    color: white;
    font-size: .7em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}