*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgba(18, 18, 170, 0.884) ,rgb(0, 0, 0));
    overflow: hidden !important;
    position: relative;
}
/* testing calculator */

/* pre loader */
.preLoader{
    height: 100vh !important;
    width: 100vw !important;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden !important;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 999;
    color: rgb(255, 255, 255);
    background-color: rgb(149, 63, 230);
    transition: all .2s linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.3rem;
}
.loader {
    display: inline-block;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFF;
    position: relative;
    margin-right: 5px;
    
  }
  .loader::before {
    content: '';  
    position: absolute;
    left: 34px;
    bottom: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    box-sizing: border-box;
    animation: rotation 0.6s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  /* lock screen */
.lockScreen{
    height: 100vh !important;
    width: 100vw;
    background-image: url(assets/lockScreenWallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 111;
    transition:all .2s ease-in-out;
     /* display: none;I have to remove this for displaying lock screeen ; */
}
.lockClock{
    transition:all .2s ease-in-out;
    width: 100vw !important;
    height: 100vh !important;
    font-size: 4rem;
    color: white;
    text-align: center;
    top: 20%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.lockClock .dates{
    font-size: 2rem;
}
/* go to sign in */
.signInToWindows{
    display: block;
    width: 100vw;
    backdrop-filter: blur(7px);
    position: absolute;
    z-index: 101;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    top: 150%;
    left: 50%;
    transform: translate(-50% ,-50%);
    transition:top .2s linear .1s!important;

}
.signInToWindows img{
    transition:all .2s ease-in-out .2s !important ;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    border: 2px solid white;
    
}
.signInToWindows button{
    padding: .7em 1.3em;
    outline:none;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.404);
    cursor: pointer;
    margin-top: 1em;
    font-size: .7em;
    font-weight: 400;
    color: whitesmoke;
}
/* remove lock Screen on click */
.removeLockScreen{
    transition: all .2s linear !important;
    top: -100vh;
    position: relative;
    opacity: 0;
}
/* ----------------------------------------- */
/* home screen */
.homeScreen{
    height: 100vh !important;
    width: 100vw !important;
    position: relative;
    overflow: hidden !important;
    display: block;
    /* display: none; */
}
.homeScreen .wallpaper{
    height: 100vh;
    width: 100vw;
}
.homeScreen .wallpaper img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.taskbar{
    height: 3rem;
    width: 100vw;
    background-color: #181b39be;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    

}
.taskbar .icon {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    margin: .2rem;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.taskbar .icon img{
    height: 1.9rem;
    width: 1.9rem;
    padding: 2px;
    border-radius: 6px;
    object-fit: cover;
}

.rightSideTaskbar{
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    margin-right: 3rem;
}
.rightSideTaskbar img{
    height: 1.6rem;
    width: 1.6rem;
    padding: 3px;
    margin: .1rem;
    border-radius: 6px;
    object-fit: cover;
}
.clockIntaskbar{
    color: white;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 1em;
}


.icon:active, .deskIcon:active{
    scale: .8;
    transition: 100ms ease-out;
}
.icon:hover , .deskIcon:hover{
    scale: .96;
}
/* taskbar setting done */
/* ------------------------------------ */

/* destop icon */
.deskIconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    color: white;
    text-align: center;
    font-size: .8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.deskIconContainer img{
    height: 3rem;
    width: 3rem;
    margin: .7rem .5rem ;
    cursor: pointer;

}

.windowMenu{
    height: 65vh;
    width: 50vw;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.356);
    border: 1px solid rgba(255, 255, 255, 0.507);
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50% ,-50%);
    border-radius: .4rem;
    color: white;
    backdrop-filter: blur(6px);
    transition: .3s linear;
}
.pinned{
    /* width: 45vw;
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
    margin-bottom: 2rem;
}
.windowMenu p{
    border-radius: 7px;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    background-color: #ffffff3b;
    font-family: Arial, Helvetica, sans-serif;
}
.windowMenu img{
    padding: 2px;
    margin: 8px;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}
.windowMenu .bottom{
    width: 50vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: none;
}
.windowMenu .account{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    border: 2px solid rgba(245, 222, 179, 0.233);
    border-radius: 10px;
    padding: .2rem .7rem;
}
.windowMenu .powerMenu{
    margin-left:58%;
    border-top: 2px solid white;

}
.powerMenu img{
    height: 2rem;
    width: 2rem;
}
.powerPopUp{
    border-radius: 10px;
    width: 10%;
    position: absolute;
    right: 5%;
    bottom: 90%;
    backdrop-filter: blur(2px);
    text-align: center;
    border: 1px solid wheat;
    display: none;
}
.powerPopUp img{
    height: 2rem;
    width: 2rem;
}
/* ------------------------------- */
/* adding function on click */

/* variable classes for showing and hidding windows */
.frame{
    height: 74vh;
    width: 70vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.493);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 1;
    transition: .2s ease-in-out;
}
.sideControl{
    float: right;
    margin-top:.5% ;
    margin-right: .5%;

}
.sideControl img{
    height: 1.4rem;
    width: 1.4rem;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}
.hideWindow{
    height: 0;
    width: 0;
    opacity: 0;
    transition: .1s ease-in-out;
}
.showWindow{
    height: 70vh !important;
    width: 70vw !important;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .1s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.showFrameFullWindow{
    height: 96vh;
    width: 100vw;
    opacity: 1;
    transition: .1s ease-in-out;
}
.showFullWindow{
    height: 100vh;
    width: 100vw;
    opacity: 1;
    transition: .1s ease-in-out;
}
/* -------------------------------- */
/* shutting down */

.shuttedDown{
    background-color: black;
    color: wheat;
    text-align: center;
    font-size: 8rem;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -105vh; 
    right: 0;
    object-fit: cover;
    display: none;
    transition: .3s linear !important;
    /* transition-delay: 3s !important; */
}
.shuttedDown p{
    padding: 23px;
    color: white;
    transition:top 1s linear !important;
    transition-delay: 3s !important;
}